@media screen and (max-width: 900px) {
    div.table {
        width: 93%;
        font-size: 12px;
    }
}

@media screen and (max-width: 450px) {
    div.table {
        width: 93%;
        font-size: 8px;
    }
}
